<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Eco-Safaris Rwanda</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="icon" type="image/png" href="/images/logo.png"/>
    <link rel="icon" type="image/png" href="/images/logo.png"/>
    
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/jquery-ui.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="/css/jquery.fancybox.min.css">

    <link rel="stylesheet" href="/css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="/fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="/css/aos.css">

    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap" rel="stylesheet">

    
    
  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
  
  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
   
    
    <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">
      
      <div class="container-fluid">
        <div class="d-flex align-items-center">
          <div class="site-logo mr-auto w-25">
            <!-- <a href="index.html">Eco-Safaris Rwanda</a> -->
            <img src="images/logo.png" alt="Girl in a jacket" width="150" height="100">
          </div>

          <div class="mx-auto text-center">
            <nav class="site-navigation position-relative text-right" role="navigation">
              <ul class="site-menu main-menu js-clone-nav mx-auto d-none d-lg-block  m-0 p-0">
                <li><a href="#home-section" class="nav-link">Home</a></li>
                <li><a href="#aboutus-section" class="nav-link">About us</a></li>
                <li><a href="#whatwedo-section" class="nav-link">What we do</a></li>
                
              </ul>
            </nav>
          </div>

          <div class="ml-auto w-25">
            <nav class="site-navigation position-relative text-right" role="navigation">
              <ul class="site-menu main-menu site-menu-dark js-clone-nav mr-auto d-none d-lg-block m-0 p-0">
                <li class="cta"><a href="#contact-section" class="nav-link"><span>Contact Us</span></a></li>
              </ul>
            </nav>
            <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black float-right"><span class="icon-menu h3"></span></a>
          </div>
        </div>
      </div>
      
    </header>

    <div class="intro-section" id="home-section">
      

      <div class="slide-1" style="background-image: url('images/icon4.JPG');" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-12">
              <div class="row align-items-center">
                <div class="col-lg-6 mb-4">
                  <h1  data-aos="fade-up" data-aos-delay="100" style="font-family:'Poppins', sans-serif; font-size: 3rem; line-height: 4rem;">Excellence is our habit...</h1>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>

    
    <div class="site-section" id="aboutus-section">
      <div class="container">
        <div class="row mb-5 justify-content-center">
            <br/>
            <br/>
            <h2 class="section-title mt-5">About Eco-Safaris Rwanda </h2>
            <div class="row mb-5 align-items-center">
              <div class="col-lg-7 mb-5 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
                <img src="images/icon7.jpeg" alt="Image" class="img-fluid">
              </div>
              <div class="col-lg-4 mr-auto order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
                <p>Eco-safaris Rwanda is the Rwandan registered tourism company in Rwanda development Board which is based in Kigali and the member of Tour operators, Rwanda Tours and Travel association(RTTA)</p>
                <p>Its commitment is to protect environment and community based tourism for sustainable tourism.</p>
                <p>Eco-safaris Rwanda organizes and arranges eco-safaris and ground tour operator to East African and sub-Saharan African countries (i.e. South Africa, Botswana,Zambia,Zimbabwe and Namibia) .</p>
                <p>Eco-safaris Rwanda selects/ has the first class vehicles for transporting their clients depending on the number of them and the main objective of the safari. It has modified 4WDs (4x4) with an open roof to maximize your game viewing and photography.</p>
                <p>Eco-safaris Rwanda is an Africa travel specialist company due to have the professional English and French speaking guides/ driver guides ,Eco-Safaris Rwanda also connects you to the Arabic,Italian,germany,Spanish and Japanese speaking guides and have knowledge of all sites.</p>
              </div>
            </div>
        </div>
        <div class="row mb-5 align-items-center">
          <div class="col-lg-7 mb-5" data-aos="fade-up" data-aos-delay="100">
            <img src="images/icon1.JPG" alt="Image" class="img-fluid">
          </div>
          <div class="col-lg-4 ml-auto" data-aos="fade-up" data-aos-delay="200">
            <h2 class="text-black mb-4">SERVICE PHILOSOPHY</h2>
            <p class="mb-4">The Eco-Safaris Rwanda’s service philosophy <span style="font-weight: bold;"> Excellence is our habit</span> </p>
          </div>
        </div>

        <div class="row mb-5 align-items-center">
          <div class="col-lg-7 mb-5 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
            <img src="images/icon2.JPG" alt="Image" class="img-fluid">
          </div>
          <div class="col-lg-4 mr-auto order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
            <h2 class="text-black mb-4">Mission</h2>
            <p class="mb-4">The  Eco-Safaris  Rwanda’s  strive  is  to  deliver  a higher  quality  service  for excellence which  is  a habit  and  as to  be  the East Africa’s and great lakes region thought leader in tourism and  conservation.</p>
          </div>
        </div>

        <div class="row mb-5 align-items-center">
          <div class="col-lg-7 mb-5" data-aos="fade-up" data-aos-delay="100">
            <img src="images/icon3.JPG" alt="Image" class="img-fluid">
          </div>
          <div class="col-lg-4 ml-auto" data-aos="fade-up" data-aos-delay="200">
            <h2 class="text-black mb-4">Vison</h2>
            <p class="mb-4">The  Eco-Safaris  Rwanda  is  aiming  to  be  an example  company  in  the  tourism  industry  not only  in the  nation but  also  in the  region  by putting the last first.</p>
          </div>
        </div>


        <div class="row mb-5 align-items-center">
          <div class="col-lg-7 mb-5 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
            <img src="images/icon6.jpeg" alt="Image" class="img-fluid">
          </div>
          <div class="col-lg-4 mr-auto order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
            <h2 class="text-black mb-4">Core values</h2>
            <p class="mb-4"> Excellence, Flexibility, Sociability, Integrity, Delight & Professionalism.</p>
          </div>
        </div>

      </div>
    </div>


    <div class="site-section" id="whatwedo-section">
      <div class="container">
        <div class="row mt-5 mb-5 justify-content-center">
          <br/>
            <br/>
          <div class="col-lg-7"  data-aos="fade-up" data-aos-delay="">
            <h2 class="section-title">ECO-SAFARIS RWANDA’S SERVICES/ TOUR PACKAGES TO OFFER</h2>
            <p>1. Airport Transfers, Car rental/Hire and Hotel reservations </p>
            <p>2. Family & Honeymoon Packages ,  Tour Guiding and Bird watching </p>
            <p>3. Wildlife Safaris(Game Drive, Gorilla & chimps Trekking) & Permits assistance</p>
            <p>4. Cultural, community and Educational tours/school trips</p>
            <p>5. Hiking, boat ride , camping & Congo Nile Trail</p>
            <p>6. Eco-Agricultural Tours and Religious Tours (Kibeho Holy Land in Rwanda )</p>
            <p>7. Charter arrangements, Meet and Greet, Congo trips and escorted tours</p>
            <p>8. Canoeing and kayaking, Bungee jumping and water rafting(Uganda)</p>
          </div>
        </div>
        <div class="row mb-5 align-items-center">
          <div class="row mb-5 justify-content-center">
            <h2 class="section-title text-center">TOUR PACKAGES/DESTINATIONS: EXERCISE TO RWANDAN PARKS</h2>
          </div>

          <div class="col-lg-7 mb-5" data-aos="fade-up" data-aos-delay="100">
            <img src="images/icon10.jpeg" alt="Image" class="img-fluid">
          </div>
          <div class="col-lg-4 ml-auto" data-aos="fade-up" data-aos-delay="200">
            <h2 class="text-black mb-4">KIGALI- VOLCANOES NATIONAL PARK (PRIMATES DESTINATION)</h2>

            <span style="font-weight: bold;">1 DAY TRIP – 5 DAYS TRIP: 3- 4 Nights</span>
            <p>Gorillas, golden monkeys, hiking, Caves or community project </p>

            <ul>
              <li>
                Day 1: At arrival possibly visit memorial site of Genocide/city tour and museums
              </li>
              <li>
                Day 2: Gorilla trekking and twin lakes optional 
              </li>
              <li>
                Day 3: Golden monkeys and visit cultural center of communities 
              </li>
              <li>
                Day 4: hiking or visit Dian Fossey tomb  
              </li>
              <li>
                Day 5: a visit of caves & drive back to kigali for departure 
              </li>
            </ul>
            <p>Example of accommodations around: Sabyinyo silverback lodge,Wilderness camp,Virunga lodge & Mountain Gorilla view Lodge</p>
          </div>
        </div>

        <div class="row mb-5 align-items-center">
          <div class="col-lg-7 mb-5 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
            <img src="images/icon8.jpeg" alt="Image" class="img-fluid">
          </div>
          <div class="col-lg-4 mr-auto order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
            <h2 class="text-black mb-4"> KIGALI -AKAGERA NATIONAL PARK (BIG 5 DESTINATION)</h2>

            <span style="font-weight: bold;">1 DAY TRIP-5DAYS TRIP: 3-4 Nights</span>
            <p>Game drive (Day), Game drive (Night), Boat ride and Bird watching </p>

           
            <ul>
              <li>
                Day 1: at arrival possibly visit memorial site of Genocide/city tour & museums
              </li>
              <li>
                Day 2: Short game drive and bird watching   
              </li>
              <li>
                Day 3: Long game drive (whole day) to try big five 
              </li>
              <li>
                Day 4: boat ride and visit of communities by experiencing cow milking etc…  
              </li>
              <li>
                Day 5: Drive back to Kigali and departure 
              </li>
            </ul>

            <p>Example of accommodations around: Ruzizi tented lodge and Akagera Game lodge </p>

          </div>
        </div>

        <div class="row mb-5 align-items-center">
          <div class="col-lg-7 mb-5" data-aos="fade-up" data-aos-delay="100">
            <img src="images/icon9.jpeg" alt="Image" class="img-fluid">
          </div>
          <div class="col-lg-4 ml-auto" data-aos="fade-up" data-aos-delay="200">
            <h2 class="text-black mb-4"> KIGALI -NYUNGWE NATIONAL PARK (CHIMPANZEES DESTINATION)</h2>

            <span style="font-weight: bold;">1 DAY TRIP-5DAYS TRIP: 3-4 Nights</span>
            <span style="font-weight: bold;">Chimpanzees   trekking, Colobus monkeys, Canopy walk and Bird Watching </span>

            <ul>
              <li>
                Day 1: at arrival visit memorial site of Genocide/city tour & museums/ nyamirambo Arab settlement.
              </li>
              <li>
                Day 2: Drive to Nyungwe National Park    
              </li>
              <li>
                Day 3: chimpanzees trekking and colobus monkeys   
              </li>
              <li>
                Day4: canopy walk way and communities  
              </li>
              <li>
                Day 5: Drive back to Kigali/Kamembe and departure 
              </li>
            </ul>

            <p>Example of accommodations around: Lake Kivu Serena,Nyungwe forest lodge and Nyungwe Top view Hill Hotel.</p>
          </div>
        </div>

        <br/>
        <br/>
        <div class="row" style="margin-top: 20px;">
          <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="100">
            <div class="teacher text-center">
              <!-- <img src="images/icon3.JPG" alt="Image" class="img-fluid w-50 rounded-circle mx-auto mb-4"> -->
              <div class="py-2">
                <h3 style="color: #603814; font-weight: bold;">JOINTED EAST AFRICAN DESTINATIONS & GREAT LAKES REGION</h3>
                <p >RWANDA- Best of Rwanda, 12 days, 11 nights </p>
                <p>UGANDA- Best of Uganda 16 days, 15 nights</p>
                <p>TANZANIA- Best of Tanzania 16 days, 15 nights </p>
                <p>KENYA- Best of Kenya, 12 days, 11 nights</p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="100">
            <div class="teacher text-center">
              <!-- <img src="images/person_1.jpg" alt="Image" class="img-fluid w-50 rounded-circle mx-auto mb-4"> -->
              <div class="py-2">
                <h3 style="color: #603814; font-weight: bold;">MOUNTAINEERING DESTINATIONS</h3>
                <p >RWANDA – Karisimbi Mountain, 3days, 2nights</p>
                <p>UGANDA - Rwenzori Mountain, 6days, 5nights </p>
                <p>TANZANIA – Kilimanjaro Mountain, 7days, 6nights </p>
                <p>KENYA – Kenya Mountain, 7days, 6 nights </p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="100">
            <div class="teacher text-center">
              <!-- <img src="images/person_1.jpg" alt="Image" class="img-fluid w-50 rounded-circle mx-auto mb-4"> -->
              <div class="py-2">
                <h3 style="color: #603814; font-weight: bold;">BEACH VACATIONS DESTINATIONS</h3>
                <p>RWANDA –Lake Kivu Beach ,2 days,1 night</p>
                <p>-	Lake Muhazi Beach ,2 days ,1 night</p>
                <p>UGANDA – Ssese Islands (Mirembe Beach Resort), 2 days, 1 night </p>
                <p>KENYA – Watamu –Malindi – Mombasa –Diani & Lamu Island Beach ,7 days ,6 nights</p>
                <p>TANZANIA-Zanzibar</p>
              </div>
            </div>
          </div>

        </div>

        <h2 class="section-title text-center">BRIEF OF THE DESTINATIONS AND BEYOND PRIMATES/COSTS</h2>
        
        <div style="display: flex">
          <div class="col-lg-4 ml-auto align-self-start"  data-aos="fade-up" data-aos-delay="100">
            <div class="p-4 rounded bg-white why-choose-us-box">
              <p style="font-weight: bold;" class="text-black">The Volcanoes National park destination</p>
              <div class="d-flex align-items-center custom-icon-wrap custom-icon-light mb-3">
                <div class="mr-3" ><span class="custom-icon-inner" style="background-color: #603814;"><span class="icon icon-university"></span></span></div>
                <div><h3 class="m-0">Mountain gorilla trekking,$1500 per person</h3></div>
              </div>
  
              <div class="d-flex align-items-center custom-icon-wrap custom-icon-light mb-3">
                <div class="mr-3"><span class="custom-icon-inner" style="background-color: #603814;"><span class="icon icon-university"></span></span></div>
                <div><h3 class="m-0">Golden monkeys trekking,$100 per person</h3></div>
              </div>
  
              <div class="d-flex align-items-center custom-icon-wrap custom-icon-light mb-3">
                <div class="mr-3"><span class="custom-icon-inner" style="background-color: #603814;"><span class="icon icon-university"></span></span></div>
                <div><h3 class="m-0">Bisoke ,Karisimbi ,Gahinga and Muhabura hiking,$75-$300</h3></div>
              </div>
  
              <div class="d-flex align-items-center custom-icon-wrap custom-icon-light mb-3">
                <div class="mr-3"><span class="custom-icon-inner" style="background-color: #603814;"><span class="icon icon-university"></span></span></div>
                <div><h3 class="m-0">Dian Fossey tomb visit/nature walk,$75 per person</h3></div>
              </div>
  
              <div class="d-flex align-items-center custom-icon-wrap custom-icon-light mb-3">
                <div class="mr-3"><span class="custom-icon-inner" style="background-color: #603814;"><span class="icon icon-university"></span></span></div>
                <div><h3 class="m-0">Nature walks and Cultural activities,$20-$40 per person</h3></div>
              </div>
  
              <div class="d-flex align-items-center custom-icon-wrap custom-icon-light">
                <div class="mr-3"><span class="custom-icon-inner" style="background-color: #603814;"><span class="icon icon-university"></span></span></div>
                <div><h3 class="m-0">Bird watching,$150 per person</h3></div>
              </div>
  
            </div>
          </div>
          <div class="col-lg-4 ml-auto align-self-start"  data-aos="fade-up" data-aos-delay="100">
            <div class="p-4 rounded bg-white why-choose-us-box">
              <p style="font-weight: bold;" class="text-black">The Akagera National park destination</p>
              <div class="d-flex align-items-center custom-icon-wrap custom-icon-light mb-3">
                <div class="mr-3"><span class="custom-icon-inner" style="background-color: #603814;"><span class="icon icon-university"></span></span></div>
                <div><h3 class="m-0">Day Game drive, $40 per person</h3></div>
              </div>
  
              <div class="d-flex align-items-center custom-icon-wrap custom-icon-light mb-3">
                <div class="mr-3"><span class="custom-icon-inner" style="background-color: #603814;"><span class="icon icon-university"></span></span></div>
                <div><h3 class="m-0">Night game drive, $40 per person</h3></div>
              </div>
  
              <div class="d-flex align-items-center custom-icon-wrap custom-icon-light mb-3">
                <div class="mr-3"><span class="custom-icon-inner" style="background-color: #603814;"><span class="icon icon-university"></span></span></div>
                <div><h3 class="m-0">Boat cruise, $40 per person</h3></div>
              </div>
  
              <div class="d-flex align-items-center custom-icon-wrap custom-icon-light mb-3">
                <div class="mr-3"><span class="custom-icon-inner" style="background-color: #603814;"><span class="icon icon-university"></span></span></div>
                <div><h3 class="m-0">Bird watching</h3></div>
              </div>
  
              <div class="d-flex align-items-center custom-icon-wrap custom-icon-light mb-3">
                <div class="mr-3"><span class="custom-icon-inner" style="background-color: #603814;"><span class="icon icon-university"></span></span></div>
                <div><h3 class="m-0">Cultural activities</h3></div>
              </div>
  
              <div class="d-flex align-items-center custom-icon-wrap custom-icon-light">
                <div class="mr-3"><span class="custom-icon-inner" style="background-color: #603814;"><span class="icon icon-university"></span></span></div>
                <div><h3 class="m-0">Camping, $50 per person</h3></div>
              </div>
  
            </div>
          </div>
      
          <div class="col-lg-4 ml-auto align-self-start"  data-aos="fade-up" data-aos-delay="100">
            <div class="p-4 rounded bg-white why-choose-us-box">
              <p style="font-weight: bold;" class="text-black">Rubavu, Karongi,Huye,kirehe destinations</p>
              <div class="d-flex align-items-center custom-icon-wrap custom-icon-light mb-3">
                <div class="mr-3"><span class="custom-icon-inner" style="background-color: #603814;"><span class="icon icon-university"></span></span></div>
                <div><h3 class="m-0">Rubavu: Lake kivu boat cruises and hot springs plus coffee tours.-$150-$200 a group</h3></div>
              </div>
  
              <div class="d-flex align-items-center custom-icon-wrap custom-icon-light mb-3">
                <div class="mr-3"><span class="custom-icon-inner" style="background-color: #603814;"><span class="icon icon-university"></span></span></div>
                <div><h3 class="m-0">Karongi: Environmental museum, $12 per person</h3></div>
              </div>
  
              <div class="d-flex align-items-center custom-icon-wrap custom-icon-light mb-3">
                <div class="mr-3"><span class="custom-icon-inner" style="background-color: #603814;"><span class="icon icon-university"></span></span></div>
                <div><h3 class="m-0">kirehe: Rusumo waterfalls</h3></div>
              </div>
  
              <div class="d-flex align-items-center custom-icon-wrap custom-icon-light mb-3">
                <div class="mr-3"><span class="custom-icon-inner" style="background-color: #603814;"><span class="icon icon-university"></span></span></div>
                <div><h3 class="m-0">Huye:Nyanza king's palace and ethnographic museum.$12 per person</h3></div>
              </div>
  
              <div class="d-flex align-items-center custom-icon-wrap custom-icon-light mb-3">
                <div class="mr-3"><span class="custom-icon-inner" style="background-color: #603814;"><span class="icon icon-university"></span></span></div>
                <div><h3 class="m-0">Indian Restaurants:Khana Khazana,Blueberry,The Mannor Hotel </h3></div>
              </div>
            </div>
          </div>


        </div>
        <br/>
        <br/>
     

        <div style="display: flex;">


          <div class="col-lg-4 align-self-start"  data-aos="fade-up" data-aos-delay="100">
            <div class="p-4 rounded bg-white why-choose-us-box">
              <p style="font-weight: bold;" class="text-black">The Nyungwe National Park Destination</p>
              <div class="d-flex align-items-center custom-icon-wrap custom-icon-light mb-3">
                <div class="mr-3"><span class="custom-icon-inner" style="background-color: #603814;"><span class="icon icon-university"></span></span></div>
                <div><h3 class="m-0">Chimpanzees trekking, $90 per person</h3></div>
              </div>
  
              <div class="d-flex align-items-center custom-icon-wrap custom-icon-light mb-3">
                <div class="mr-3"><span class="custom-icon-inner" style="background-color: #603814;"><span class="icon icon-university"></span></span></div>
                <div><h3 class="m-0">Canopy walk way-$60 per person</h3></div>
              </div>
  
              <div class="d-flex align-items-center custom-icon-wrap custom-icon-light mb-3">
                <div class="mr-3"><span class="custom-icon-inner" style="background-color: #603814;"><span class="icon icon-university"></span></span></div>
                <div><h3 class="m-0">Black and White colobus monkeys, $60 per person</h3></div>
              </div>
  
              <div class="d-flex align-items-center custom-icon-wrap custom-icon-light mb-3">
                <div class="mr-3"><span class="custom-icon-inner" style="background-color: #603814;"><span class="icon icon-university"></span></span></div>
                <div><h3 class="m-0">Bird watching</h3></div>
              </div>
  
            </div>
          </div>
       
          <div class="col-lg-4  align-self-start"  data-aos="fade-up" data-aos-delay="100">
            <div class="p-4 rounded bg-white why-choose-us-box">
              <p style="font-weight: bold;" class="text-black">Kigali city Tours</p>
              <div class="d-flex align-items-center custom-icon-wrap custom-icon-light mb-3">
                <div class="mr-3"><span class="custom-icon-inner" style="background-color: #603814;"><span class="icon icon-university"></span></span></div>
                <div><h3 class="m-0">Kigali city tour –Kigali genocide memorial, $40 per person</h3></div>
              </div>
  
              <div class="d-flex align-items-center custom-icon-wrap custom-icon-light mb-3">
                <div class="mr-3"><span class="custom-icon-inner" style="background-color: #603814;"><span class="icon icon-university"></span></span></div>
                <div><h3 class="m-0">Presidential palace museum, $12 per person</h3></div>
              </div>
  
              <div class="d-flex align-items-center custom-icon-wrap custom-icon-light mb-3">
                <div class="mr-3"><span class="custom-icon-inner" style="background-color: #603814;"><span class="icon icon-university"></span></span></div>
                <div><h3 class="m-0">Dr Richard Kandt Museum, $12 per person</h3></div>
              </div>
  
              <div class="d-flex align-items-center custom-icon-wrap custom-icon-light mb-3">
                <div class="mr-3"><span class="custom-icon-inner" style="background-color: #603814;"><span class="icon icon-university"></span></span></div>
                <div><h3 class="m-0">Nyamirambo women center,local lunch and village tour -$40 per person</h3></div>
              </div>
  
            </div>
          </div>
        </div>
      
       

      </div>
    </div>



    <div class="site-section bg-image overlay" style="background-image: url('images/icon4.JPG');">
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-md-8 text-center testimony">
            <!-- <img src="images/person_4.jpg" alt="Image" class="img-fluid w-25 mb-4 rounded-circle"> -->
            <h3 class="mb-4">PRICES OF CAR RENTAL, ACCOMMODATIONS AND OTHERS</h3>
            <blockquote>
              <p>&ldquo; Dear esteemed clients, for further details of the prices to hire cars and prices/rates of the accommodations of where the company operates its services contact or email the management as it reminds you  that whenever you hire a safari jeep; water to drink, fuel, evacuation services & a driver guide are inclusive and simply your requisition will be implemented. &rdquo;</p> <br/><br/>
              <p>&ldquo; The company arranges /offers trips of High end, Middle, to low end budgets where every traveler will suit and individual prices.&rdquo;</p>

            </blockquote>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section pb-0">

      <div class="future-blobs">
        <div class="blob_2">
          <img src="images/blob_2.svg" alt="Image">
        </div>
        <div class="blob_1">
          <img src="images/blob_1.svg" alt="Image">
        </div>
      </div>
      <div class="container">
        <div class="row mb-5 justify-content-center" data-aos="fade-up" data-aos-delay="">
          <div class="col-lg-7 text-center">
            <h2 class="section-title">CANCELATION POLICY</h2>
            <p>Should you need to cancel a booking, please notify Eco-Safaris Rwanda immediately, in writing? A cancelation charge will apply from the date of receipt of the notification. Please make sure you receive acknowledgement of your cancelation.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 ml-auto align-self-start"  data-aos="fade-up" data-aos-delay="100">

            <div class="p-4 rounded bg-white why-choose-us-box">
              <p>Cancelation fees are as follows</p>
              <div class="d-flex align-items-center custom-icon-wrap custom-icon-light mb-3">
                <div class="mr-3"><span class="custom-icon-inner " style="background-color: #603814;"><span class="icon icon-university"></span></span></div>
                <div><h3 class="m-0">More than 30 days prior to arrival: 25% of the total amount due</h3></div>
              </div>

              <div class="d-flex align-items-center custom-icon-wrap custom-icon-light mb-3">
                <div class="mr-3"><span class="custom-icon-inner " style="background-color: #603814;"><span class="icon icon-university"></span></span></div>
                <div><h3 class="m-0">Less than 30 days prior to arrival: 50% of the total amount due</h3></div>
              </div>

              <div class="d-flex align-items-center custom-icon-wrap custom-icon-light mb-3">
                <div class="mr-3"><span class="custom-icon-inner" style="background-color: #603814;"><span class="icon icon-university"></span></span></div>
                <div><h3 class="m-0">Less than 7 days prior to arrival: 100% of the total amount due</h3></div>
              </div>

            </div>
          </div>
          <div class="col-lg-7 align-self-end"  data-aos="fade-left" data-aos-delay="200">
            <img src="images/icon5.jpeg" alt="Image" class="img-fluid">
          </div>
        </div>
      </div>
    </div>

    



    <div class="site-section bg-light" id="contact-section">
      <div class="container">

        <div class="row justify-content-center">
          <div class="col-md-7">

            <br/>
            <br/>
            
            <h2 class="section-title mb-3">Contact Us</h2>
           
          
            <form method="post" data-aos="fade" id="handleSubmit">
              <div class="form-group row">
                <div class="col-md-6 mb-3 mb-lg-0">
                  <input type="text" class="form-control" placeholder="First name" id="firstName">
                </div>
                <div class="col-md-6">
                  <input type="text" class="form-control" placeholder="Last name" id="lastName">
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-12">
                  <input type="email" class="form-control" placeholder="Email" id="email">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-12">
                  <input type="text" class="form-control" placeholder="Country" id="country">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-12">
                  <textarea class="form-control" id="message" cols="30" rows="10" placeholder="Write your message here."></textarea>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-6">
                  <input type="submit" class="btn btn-primary py-3 px-5 btn-block btn-pill" value="Send Message">
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer-section bg-white">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <h3>Contact us on,</h3>
            <p>Eco-Safaris Rwanda Ltd</p>
            <p>P.O Box 5729, Kigali-Rwanda</p>
            <p>KG 563 ST Solace Guest House Building -Kacyiru</p>
          </div>

          <div class="col-md-3">
            <h3>Telphone number</h3>
            <p>+250783708037</p>
            <p>+250788452407</p>
          </div>

          <div class="col-md-3">
            <h3>Email</h3>
            <p>ecosafaris1@gmail.com</p>
            <p>info@ecosafarisrw.net</p>
          </div>

          <div class="col-md-3">
            <h3>Website</h3>
            <p>www.ecosafarisrw.net</p>
          </div>

        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <div class="border-top pt-5">
            <p>
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved |  by <a href="#" target="_blank" >Eco-Safaris Rwanda</a>
            </p>
            </div>
          </div>
        </div>
      </div>
    </footer>

  
    
  </div> <!-- .site-wrap -->

  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/jquery.countdown.min.js"></script>
  <script src="js/bootstrap-datepicker.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.fancybox.min.js"></script>
  <script src="js/jquery.sticky.js"></script>
  <script src="js/main.js"></script>
    
  </body>
</html>